
/*
animated gradient
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

*/
/*APP.JS STARTS HERE*/
body{
  height: 100vh;
  padding: 5rem 0 0 0;
  /*background-image: linear-gradient(
    #553c9a 0%,
    #553c9a 20%,
    #b393d3 20%,
    #b393d3 40%,
    #553c9a 40%,
    #553c9a 60%,
    #b393d3 60%,
    #b393d3 80%,
    #553c9a 80%,
    #553c9a 100%
  );*/
}

.app{
  border-radius: 5px;
  margin: auto;
  width: 50rem;
  display: flex;
  flex-direction: column;
  background: rgb(80,80,80,.5);
  backdrop-filter: blur(5px);
}

button, p, input, select, label{
  font-family: 'Poppins', sans-serif;
  font-size: .75rem;
}

.btn-standard{
  height: 44px;
  border-radius: 5px;
  padding: 0 16px 0 16px;
  filter: drop-shadow(2px 2px 4px rgb(69,69,69,.5));
  border: 1px solid rgb(69,69,69);
  margin: 0 0 16px 0;
  background-color: white;
}

.btn-standard:hover{
  background-color: rgb(220,220,220);
}

.btn-standard:active{
  background-color: rgb(0,0,0,0) !important;
  border: 1px solid white;
  color: white;
}

.btn-small{
  height: 32px;
}

.menu{
  border-bottom: 1px solid rgb(220,220,220);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
}

.menu button{
  height: 49px;
  border-radius: 0;
  border: none;
  background-color: rgb(0,0,0,0);
  margin: 0;
  padding: 0 16px 0 16px;
  color: rgb(220,220,220);
  filter: none;
}

.active{
  color: white !important;  
  border-bottom: 3px solid white !important;
}

.menu-item-1{
  border-top-left-radius: 5px !important;
}

.component-container{
  margin: 0;
  min-width: 20rem;
  width: auto;
  height: auto;
  /*padding: 16px;
  background-color: rgb(69,69,69,.5);*/
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.component-container-2{
  display: flex;
}

.controls-container{
  padding: 16px;
  border-right: 1px solid rgb(220,220,220);
  width: 30%;
  display: flex;
  flex-direction: column;
}

.component-display{
  width: 100%;
  height: auto;
  padding: 16px !important;
  background-color: rgb(69,69,69,.5);
  border-bottom-right-radius: 5px !important;
}

h3{
  color: white;
  font-weight: normal;
}

/*APP.JS ENDS HERE*/

/*SAVED COLORS STARTS HERE*/
.colors-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.color-item{
  width: auto;
  height: auto;
  padding: .5rem;
  background-color: white;
  border-radius: 5px;
}

.color-square{
  width: 7rem;
  height: 7rem;
  border-radius: 5px;
}

.color-info{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.color-value{
  margin: .5rem 0 0 0;
  font-size: .75rem;
  line-height: .75rem;
  text-align: center;
  color: rgb(80,80,80,.5);
}

.color-item button{
  padding: 0 16px 0 16px;
  font-size: .75rem;
  margin: .5rem 0 0 0;
  filter: drop-shadow(2px 2px 4px rgb(69,69,69,.5));
  border: 1px solid rgb(69,69,69);
}
/*SAVED COLORS ENDS HERE*/

/*COLOR PICKER STARTS HERE*/
.input-container{
  display: flex;
  flex-direction: column;
}

.input-item{
  display: flex;
}

.input-item label{
  width: 3rem;
  text-align: right;
  padding: 0 .5rem 0 0;
}

.input-number{
  width: 2.5rem;
}

.slider{
  width: 10rem;
}

.custom-color-container{
  width: auto;
  border-radius: 5px;
  padding: 16px;
  background-color: white;
}

.custom-color-square{
  min-height: 20rem;
  width: auto;
  border-radius: 5px;
}

.custom-color-info{
  display: static;
}

.custom-color-info p{  
  margin: .5rem 0 0 0;
  font-size: 1rem;
  line-height: 1rem;
  height: 1rem;
  color: rgb(80,80,80,.5);
}

/*RANDOM COLOR SCHEME STARTS HERE*/
.color-scheme-container{
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.random-scheme-color-circle{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scheme-color-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scheme-color-info button{
  width: 4rem;
}

.scheme-color-info p{
  font-size: .75rem;
  text-align: center;
  margin: 0;
}

/*.random-scheme-color-circle button{
  opacity: 0%;
}

.random-scheme-color-circle button:hover{
  opacity: 100%;
}*/
/*RANDOM COLOR SCHEME STARTS HERE*/

/*COLOR WHEEL STARTS HERE*/
.wheel-container{
  width: 15rem;
  height: 15rem;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-wheel-circle{
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border-style: none;
}

.dropshadow{
  animation: pulse 20s infinite;
}
  
@keyframes pulse{
  0% {
    filter: drop-shadow(0px 0px 5px white);
  }
      
  60% {
    filter: drop-shadow(0px 0px 16px white);
  }
      
  100% {
    filter: drop-shadow(0px 0px 5px white);
  }
}


.red{
  background-color: #e60406;
  transform: rotate(270deg) translate(6rem);
}
  
.red-orange{
  background-color: #f25206;
  transform: rotate(300deg) translate(6rem);
}
  
.orange{
  background-color: #f77d00;
  transform: rotate(330deg) translate(6rem);
}
  
.orange-yellow{
  background-color: #ffb200;
  transform: rotate(0deg) translate(6rem);
}
  
.yellow{
  background-color: #ffe208;
  transform: rotate(30deg) translate(6rem);
}
  
.yellow-green{
  background-color: #86bb09;
  transform: rotate(60deg) translate(6rem);
}
  
.green{
  background-color: #1d9c1b;
  transform: rotate(90deg) translate(6rem);
}
  
.green-blue{
  background-color: #007473;
  transform: rotate(120deg) translate(6rem);
}
  
.blue{
  background-color: #1a51ac;
  transform: rotate(150deg) translate(6rem);
}
  
.blue-purple{
  background-color: #51369f;
  transform: rotate(180deg) translate(6rem);
}
  
.purple{
  background-color: #681080;
  transform: rotate(210deg) translate(6rem);
}
  
.purple-red{
  background-color: #9a0058;
  transform: rotate(240deg) translate(6rem);
}

/*COLOR WHEEL ENDS HERE*/