/*APP.JS STARTS HERE*/
body{
  padding: 4rem 0 1rem 0;
  background: black;
  overflow-y: scroll;
}

.app{
  border-radius: 5px;
  margin: auto;
  width: 50rem;
  display: flex;
  flex-direction: column;
  background: rgb(80,80,80,.5);
  backdrop-filter: blur(5px);
  border: 1px solid rgb(220,220,220);
}

button, p, input, select, label, li{
  font-family: 'Poppins', sans-serif;
  font-size: .75rem;
}

.btn-standard{
  height: 44px;
  border-radius: 5px;
  padding: 0 1rem 0 1rem;
  filter: drop-shadow(0px 0px 4px rgb(255,255,255,.25));
  border: 2px solid black;
  background-color: white;
}

.btn-standard:hover{
  border: 2px solid white;
  color:white;
  background-color: rgb(69,69,69,.5);
}

.btn-standard:active{
  background-color: rgb(0,0,0,0) !important;
  border: 2px solid white;
  color: white;
}


.btn-secondary{  
  background-color: rgb(0,0,0,0);
  border: 2px solid white;
  color: white;
}

.btn-secondary:hover{
  background-color: rgb(80,80,80);
}

.btn-secondary:active{
  background-color: rgb(0,0,0,.5);
}

.btn-small{
  height: 32px !important;
}

.menu{
  border-bottom: 1px solid rgb(220,220,220);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.menu button{
  height: 44px;
  width: 8rem;
  border-radius: 0;
  border: none;
  background-color: rgb(0,0,0,0);
  margin: 0;
  padding: 0 1rem 0 1rem;
  color: rgb(220,220,220);
  filter: none;
}

.menu button:hover{
  text-shadow: 0px 0px 8px rgb(255,255,255);
}

.filler{
  background-color: rgb(0,0,0,0);  
  height: 3px;
  width: 100%;  
}

.active-bar{
  background-color: white;  
  height: 3px;
  width: 8rem;
  transition: all .75s ease-out;
}

.menu-item-1{
  margin: 0;
}

.menu-item-2{
  margin: 0 0 0 8rem;
}

.menu-item-3{
  margin: 0 0 0 16rem;
}

.menu-item-4{
  margin: 0 0 0 24rem;
}

.component-container{
  margin: 0;
  width: auto;
  height: auto;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.component-container-2{
  display: flex;
}

.controls-container{
  padding: 1rem;
  border-right: 1px solid rgb(220,220,220);
  width: 15rem;
  display: flex;
  flex-direction: column;
}

.component-display{
  width: 35rem;
  min-height: 15rem;
  padding: 1rem;
  background-color: rgb(69,69,69,.5);
  border-bottom-right-radius: 5px !important;
  margin: 0;
  display: flex;
  justify-content: center;
}

h3{
  color: white;
  font-weight: normal;
}

/*APP.JS ENDS HERE*/

/*SAVED COLORS STARTS HERE*/
.colors-container{
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 32rem;
  margin: 0 0 0 .25px;
}

.no-colors{
  margin: auto;
  color: white;
}

.color-item{
  width: 10rem;
  height: auto;
  background-color: white;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 4px rgb(255,255,255,.25));
  padding: .5rem 0 .5rem 0;
}

.color-block{
  width: 9rem;
  height: 7rem;
  filter: drop-shadow(0px 0px 4px rgb(69,69,69,.25));
  border-radius: 5px;
  margin: auto;
}

.color-info{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.color-value{
  margin: .5rem 0 0 0;
  font-size: .75rem;
  line-height: .75rem;
  text-align: center;
  color: rgb(80,80,80,.5);
}

.color-item button{
  padding: 0 1rem 0 1rem;
  font-size: .75rem;
  margin: .5rem 0 0 0;
  filter: drop-shadow(0px 0px 4px rgb(69,69,69,.5));
  border: 2px solid rgb(69,69,69);
}

.confirm-clear-all{
  margin: 1rem 0 0 0;
  padding: 0;
}

.confirm-clear-all p{
  padding: 0;
  margin: 0;
  color: white;
}

.confirm-btns{
  display: flex;
  justify-content: end;
  gap: 1rem;
}
/*SAVED COLORS ENDS HERE*/

/*COLOR PICKER STARTS HERE*/
.color-picker-controls{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-container{
  display: flex;
  flex-direction: column;
}

.input-item{
  display: flex;
  align-items: center;
}

.input-item label{
  width: 2rem;
  color: white;
}

.input-number{
  width: 2.5rem;
  margin: 0 5px 0 5px;
}

.slider{
  width: 7rem;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(80,80,80);
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: rgb(80,80,80);
  border-radius: 50%;
  cursor: pointer;
}

.hex-container{
  display: flex;
  gap: 1rem;
}

.hex-container button{
  min-width: 50%;
  padding: 0;
}

.hex-container input{
  width: 50%;
  height: 32px;
  border: none;
  outline: none;
  padding: 0 8px 0 8px;
  background-color: rgb(220,220,220);
}

.random-color{
  width: 9rem;
  height: 9rem;
  border: 3px solid;
  border-radius: 50%;
  margin: auto;
  background-color: rgb(69,69,69,.5);
  color: white;
  font-size: 1rem;
}

.random-color:hover{
  background-color: rgb(0,0,0,.5);
}

.random-color:active{
  background-color: rgb(0,0,0,0);
}

.custom-color-container{
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  background-color: white;
  filter: drop-shadow(0px 0px 4px rgb(255,255,255,.25));
}

.custom-color-block{
  min-height: 20rem;
  width: auto;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 4px rgb(69,69,69,.25));
}

.custom-color-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 0 0;
  gap: .5rem;
}

.custom-color-info p{
  margin: 0;
  font-size: 1rem;
  line-height: 1rem;
  height: 1rem;
  color: rgb(80,80,80,.5);
}

/*RANDOM COLOR SCHEME STARTS HERE*/
.scheme-controls-container{
  gap: 1rem;
}

.color-scheme-container{
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.random-scheme-color-circle{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scheme-color-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scheme-color-info button{
  width: 4rem;
}

.scheme-color-info p{
  font-size: .75rem;
  text-align: center;
  margin: 0;
}
/*RANDOM COLOR SCHEME STARTS HERE*/

/*COLOR WHEEL STARTS HERE*/
.dropdown-container{
  border: 2px solid black;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 4px rgb(255,255,255,.25));
  margin: 0 0 1rem 0;
}

.color-scheme-dropdown{
  height: 32px;
  width: 100%;
  padding: 0 0 0 8px;
  border-radius: 5px;
  border: none;
  border-right: 8px solid transparent;
}

.wheel-container{
  padding: 1rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 4px rgb(0,0,0,.5));
  margin: auto;
}

.color-wheel-circle{
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border-style: none;
}

ul{
  color: white;
  padding: 0 0 0 1rem;
}

li{
  font-size: 1rem !important;
}

.dropshadow{
  animation: pulse 20s infinite;
}
  
@keyframes pulse{
  0% {
    filter: drop-shadow(0px 0px 5px white);
  }
      
  60% {
    filter: drop-shadow(0px 0px 1rem white);
  }
      
  100% {
    filter: drop-shadow(0px 0px 5px white);
  }
}

.red{
  background-color: #e60406;
  transform: rotate(270deg) translate(9rem);
}
  
.red-orange{
  background-color: #f25206;
  transform: rotate(300deg) translate(9rem);
}
  
.orange{
  background-color: #f77d00;
  transform: rotate(330deg) translate(9rem);
}
  
.orange-yellow{
  background-color: #ffb200;
  transform: rotate(0deg) translate(9rem);
}
  
.yellow{
  background-color: #ffe208;
  transform: rotate(30deg) translate(9rem);
}
  
.yellow-green{
  background-color: #86bb09;
  transform: rotate(60deg) translate(9rem);
}
  
.green{
  background-color: #1d9c1b;
  transform: rotate(90deg) translate(9rem);
}
  
.green-blue{
  background-color: #007473;
  transform: rotate(120deg) translate(9rem);
}
  
.blue{
  background-color: #1a51ac;
  transform: rotate(150deg) translate(9rem);
}
  
.blue-purple{
  background-color: #51369f;
  transform: rotate(180deg) translate(9rem);
}
  
.purple{
  background-color: #681080;
  transform: rotate(210deg) translate(9rem);
}
  
.purple-red{
  background-color: #9a0058;
  transform: rotate(240deg) translate(9rem);
}

/*COLOR WHEEL ENDS HERE*/